_site/
.sass-cache/
node_modules/
.jekyll-metadata

*.icloud

*.DS_Store

assets/.DS_Store

assets/images/.DS_Store

Projects/.DS_Store

Reference/.DS_Store

Reference/beta-work/.DS_Store

assets/images/.DS_Store

assets/.DS_Store

*.swp


build/*
static/*