/*@import 'https://fonts.googleapis.com/css?family=Bungee';*/
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i');


html{
    /*background-color: black;*/
    font-size: 16px;

    @media screen and (max-width:450px) {
      font-size: 12px;
    }
}
body{
  background-color: black;
  font-family: 'Vollkorn', serif !important;
}
/*=======================================
****************** Header ***************
=========================================*/
header {
  background: url(assets/images/lowPoly.jpg) no-repeat center center fixed;
  height: 60vh;
  background-size: cover;
  background-position: center;
  font-family: 'Unica One', cursive;

}

.hero {
  position: absolute;
  top: 36%;
  left: 36%;
  margin-top: -125px;
  /* on load transition*/
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-moz-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

  /* on load transition*/
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.hero .message span {
  display: block;
  float: left;
  clear: both;
  background-color: black;
  color: #196b65;
  font-weight: 900;
  font-size: 54px;
  padding: 0 24px;
  margin: 5px 0;
}
.hero .call-to-action {
  clear: both;
  background-color: #196b65;
  float: left;
  font-size: 23px;
  padding: 16px 20px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
}

/*=======================================
************** Work Section *************
=========================================*/

#work-title{
  font-size: 129px;
  width: 129px;
  z-index: 10000;
  color: turquoise;
  position: absolute;
  margin-left: 35%;
  line-height: 2.5;
  letter-spacing: -13px;
  font-family: 'Unica One', cursive;
  -webkit-text-stroke: 1px white;
  text-shadow:
    3px 3px 0 #fff,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px  1px 0 #fff,
    1px  1px 0 #fff;
}

.modal-container .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 360px;
  background-color: white;
  margin-top: -220px;
  margin-left: -300px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
  transition: margin 0.2s;
}

/*
animation for hover
*/

a{
  text-decoration: none;
}
/*crops the image and set the box height*/
.img{
    width: 246px;
    /*height: 188px;*/
    overflow: hidden;
    position: relative;
}



/*=======================================
************** Nav **********************
=========================================*/
.navbar-brand{
  padding-left: 30px  !important;
}


/*=======================================
************ Video and Dance Sec ********
=========================================*/
.dance{
  height: 30vh;
  overflow-y: hidden;

  color:white;
}

#dance-title{
    font-size: 90px;
    margin-left: 20px;
}
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}


/*=======================================
************ Contact Form ***************
=========================================*/
.work-form{

  background-image: url("assets/images/workformbackground.jpg");
  /*height: 40vh;*/
  background-size: cover;
  background-position: center;
}
#contact-title{
font-size: 3rem;
padding-left: 23%;
color: beige;
}
#contact_form{
    margin-top: 0%;
    margin-left:18%;
}

#success_message{ display: none;}


/*footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}*/

/*=======================================
************** Media Queries ************
=========================================*/
@media (max-width:384px) {
.hero{
      left: 19%;
}
} /* end of max-width 384*/

@media (max-width:823px) {
    body{
      overflow-x: hidden;
    }

    .hero{
          left: 6%;
    }
    .hero .message span {
      font-size: 41px;
    }
    /*.work-grid:first-child{
      margin-top: 12px;
    }*/
    .work-grid:last-child{
      margin-top: 12px;
      margin-bottom: 10px;
    }
    #work-title{
    /*display: none !important;*/
    font-size: 55px;
    margin-left: 23% !important;
    margin-top: 17%;
    }
  .dance{
        display: none;
  }
  /*#contact-title{
    font-size: 30px  !important;;
  }*/
  #contact_form{
    margin-left: 2%  !important;;
  }
  #contact-title{
    font-size:2rem;
    padding-left: 13%;
  }
  #about-me{
    display: none;
  }
} /* end of media max-width:823px*/

@media (min-width:1401px) {
  .hero{
    top: 28%;
    left: 36%;
  }
  .hero .message span {
    font-size: 88px;
  }
  #contact-title{
    font-size: 6rem;
    padding-left: 30%;
  }
}/* end of min-width 1401*/
@media (min-width: 992px) {
    .work-grid:first-child{
      margin-left: 13%;
    }
     .effect-6{
       padding-top: 30px;
       padding-bottom: 40px;
     }
} /* end of media min-width 992px*/
