@import 'https://fonts.googleapis.com/css?family=Bungee';
@import 'https://fonts.googleapis.com/css?family=Shadows+Into+Light';

html{
    background-color: black;
}
body{
  background-color: black;
}
/*=======================================
****************** Header ***************
=========================================*/
header {
  background: url(assets/images/lowPoly.jpg) no-repeat center center fixed;
  height: 60vh;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans Condensed';

}

.hero {
  position: absolute;
  top: 36%;
  left: 36%;
  margin-top: -125px;
}
.hero .message span {
  display: block;
  float: left;
  clear: both;
  background-color: black;
  color: #196b65;
  font-weight: 900;
  font-size: 54px;
  padding: 0 24px;
  margin: 5px 0;
}
.hero .call-to-action {
  clear: both;
  background-color: #196b65;
  float: left;
  font-size: 23px;
  padding: 16px 20px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
}

/*=======================================
************** Work Section *************
=========================================*/

#work-title{
  font-size: 129px;
  width: 129px;
  z-index: 10000;
  color: turquoise;
  position: absolute;
  margin-left: 35%;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke: 1px white;
  text-shadow:
    3px 3px 0 #fff,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px  1px 0 #fff,
    1px  1px 0 #fff;
}

.modal-container .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 360px;
  background-color: white;
  margin-top: -220px;
  margin-left: -300px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
  transition: margin 0.2s;
}

/*
animation for hover
*/

a{
  text-decoration: none;
}
/*crops the image and set the box height*/
.img{
    width: 246px;
    height: 188px;
    overflow: hidden;
    position: relative;
}



/*=======================================
************** Nav **********************
=========================================*/
.navbar-brand{
  padding-left: 30px  !important;
}

/*=======================================
************** Media Queries ************
=========================================*/
@media (max-width:384px) {
.hero{
      left: 19%;
}
} /* end of max-width 384*/
@media (max-width:823px) {
    body{
      overflow-x: hidden;
    }
    nav{
      max-width: 96%;
    }
    .hero{
          left: 6%;
    }
    .hero .message span {
      font-size: 41px;
    }
    .work-grid:first-child{
      margin-top: 12px;
    }
    .work-grid:last-child{
      margin-top: 12px;
      margin-bottom: 10px;
    }
    #work-title{
      margin-left: 20%;
      margin-top: 15%;
    }
  .dance{
        display: none;
  }
  #contact-title{
    font-size: 30px  !important;;
  }
  #contact_form{
    margin-left: 2%  !important;;
  }
} /* end of media max-width:823px*/
@media (min-width:1401px) {
  .hero{
    top: 28%;
    left: 36%;
  }
  .hero .message span {
    font-size: 88px;
  }
}/* end of min-width 1401*/
@media (min-width: 992px) {
    .work-grid:first-child{
      margin-left: 13%;
    }
     .effect-6{
       padding-top: 30px;
       padding-bottom: 40px;
     }
} /* end of media min-width 992px*/
/*=======================================
************ Video and Dance Sec ********
=========================================*/
.dance{
  height: 30vh;
  overflow-y: hidden;

  color:white;
}

#dance-title{
    font-size: 90px;
    margin-left: 20px;
}
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}


/*=======================================
************ Contact Form ***************
=========================================*/
.work-form{

  background-image: url("assets/images/workformbackground.jpg");
  /*height: 40vh;*/
  background-size: cover;
  background-position: center;
}
#contact-title{
font-size: 56px;
font-family: initial;
padding-left: 18%;
color: beige;
}
#contact_form{
    margin-top: 0%;
    margin-left:18%;
}

#success_message{ display: none;}
