
<link rel="stylesheet" type="text/css" href="/main.css">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

<!-- bootstapping up my website -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" crossorigin="anonymous">

<!-- Txt highlighting  -->
<link rel="stylesheet" href="/assets/css/syntax.css">

<!-- jQuery library -->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
<script src="/assets/js/formcheck.js"></script>


<!-- animation for work data -->
<link rel="stylesheet" href="/assets/css/animatework.css" >
<script src="/assets/js/animatework.js"></script>
<script src="/assets/js/modernizr.js"></script>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% if page.title %}{{ page.title }} |{% endif %} Josh Martin </title>
  </head>
