
  <div class="fixcontent">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">About Me</a></li>
        <li><a data-toggle="tab" href="#menu1">Porfolio</a></li>
        <li><a data-toggle="tab" href="#menu3">Recent Post</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>about me</h3>
          <p>I am a (freshman) computer-engineering student, and work as a
            IT Assistant part-time at a local high school. I have been programming since my sophomore year of high school,
             and have been involved with technology since I was able to speak. In my free time, I like to breakdance and
             lift weights.</p>
              <p>
                Most of the time, when I make sites I do it for little to nothing because personally, its about getting my foot in the door and getting experience. The money will (hopefully) come soon enough.
              </p>
              <p>
                Contact me by <a href="mailto:joshmartin5001@gmail.com?Subject=I%20saw%20your%20site%20and%20wanted%20to%20contact%20you">Email</a>
              </p>
        </div>

        <div id="menu1" class="tab-pane fade">
          <h2>Porfolio</h2> <br>
            <h3>Android projects</h3>
            <p> <a href="https://sites.google.com/site/joshmartinsappinventorsite/blog">App Inventor</a> - a site that I
               was required to make for my first year programming class (Junior year of high school). the site covers things
               we did in MIT's app inventor.</p>
               <p>
                 <a href="https://github.com/cjoshmartin/Plan-OlNotes">Plane olNotes</a> - is the source code for an app I am building in Android studio. the point of this app was for me  to be able to figure out how to use Andriod Studio and make apps with it.
               </p>


               <h3>Graphic Design</h3>
               <p>
               To check my graphic work or video editing skills, just check my <a href="https://www.instagram.com/cjoshmartin/">Instagram</a>
               </p>
          <h3>HTML projects</h3>
            <p><a href="Projects/6th street/index.htm">1202 E 6th street</a> - is a project that I did for my parents
              when I was 14, but never figured out back then how to set up the sql database
            and the PHP.</p>
            <p>
              <a href="Projects/launch_fishers/index.html">Launch Fishers</a> - is a project I worked on when I was an intern at Launch Fishers. I made a twitter feed that displayed tweets of all the companies in that space.
            </p>

            <h3>Java Projects</h3>
            <a href="https://github.com/cjoshmartin/APProgramming2">AP Computer Programming Class</a> - is all the source code for my AP computer Science class I took my senior year of high school.

           <h3>Wordpress sites</h3>
           <p><a href="http://www.hsenews.com/">HSE News</a> - is a site that I redesigned my senior year of high school. I also managed it and trained a staff of 20 on how to use the site.
           </p>
            <p>
             <a href="http://www.thedaisymagazine.com/">Daisy Magazine</a> - help build the ground work for the small magazine.
           </p>
           <br><br>
        </div>

        <div id="menu3" class="tab-pane fade">
          <h3>recent posts</h3>
          <p>coming soon...</p>
        </div>
      </div>
    </div>
</div>
<br><br>
