<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
<div class="modal-content" style="position: relative;width: 91%;margin-left: 0;top: 39%;">
          {%include author.html%}
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resumeModel" role="dialog" aria-labelledby="resumeModel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
<div class="modal-content" style="position: relative;width: 91%;margin-left: 0;top: 39%;">
          {%include resume.html%}
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
