<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px;">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Josh Martin</a>
  </div>
  <div class="container">

  <ul class="nav nav-tabs">
    <li class="{% if page.url == 'index.html' %}active{% endif %}"><a href="{{ site.url }}/index.html">Home</a></li>
    <!-- <li><a href="#About" id="about">About</a></li> -->
    <!-- <li><a href="/assets/Resume.pdf">Resume</a></li> -->
    <!-- <li><a href ="http://www.cjoshmartin.com/old/"> Old Site </a></li> -->
    <li><a href="/recent-post.html"> Blog</a></li>
  </ul>
</div>
</nav>
