
          <header>
              <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="{% if page.url == 'index.html' %}active{% endif %}"><a href="index.html">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle {% if page.url == '/project.html' or page.url == '/Resume.htm' %}
                active
                {% endif %}" data-toggle="dropdown" href="#">Professional <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="project.html">Portfolio</a></li>
                    <li><a href="Resume.htm">Resume</a></li>
                </ul>
              </li>
              <li class="{% if page.url == '/booking.html' %}active{% endif %}">
                <a href="booking.html">Booking</a></li>
            </ul>
          </div>
        </div>
      </nav>
          </header>
