
          <header>
            <nav>
                <ul class="nav nav-tabs">
                <li class="{% if page.url == '/index.html' %}active{% endif %}">
                <a href="index.html">Home</a></li>
                <li class="dropdown
                {% if page.url == '/project.html' or page.url == '/Resume.htm' %}
                active
                {% endif %}">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="project.html">Professional
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="Resume.htm">Resume</a></li>
                    <li><a href="project.html">Portfolio</a></li>
                    <li><a href="https://www.linkedin.com/in/joshua-martin-55740652">Linkln</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="">Social Media
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://www.instagram.com/cjoshmartin/">Instgram</a></li>
                    <li><a href="https://www.facebook.com/C.Josh.Martin">Facebook</a></li>
                  </ul>
                </li>
                <li class="{% if page.url == '/booking.html' %}active{% endif %}">
                <a href="booking.html">Booking</a></li>
                </ul>
                <br>
            </nav>
          </header>
