<div class="row">
  <a target="_blank" href="http://codepen.io/cjoshmartin/">
  <div class="col-xs-2 col-md-1">
  <img src="assets/images/icons/codepen.svg" alt="codepen icon">
  </div>
  </a>
  <div class="col-xs-2 col-md-1">
    <!-- <a target="_blank" href="https://github.com/cjoshmartin"><img src="assets/images/icons/gihub_icon.svg" alt="github icon"></a> -->

  </div>
  <div class="col-xs-2 col-md-1">
    <a target="_blank" href="https://www.hackerrank.com/chajmart"><img src="assets/images/icons/hackerrank.svg" alt="Hacker rank icon"></a>
  </div>
  <div class="col-xs-2 col-md-1">
    <a target="_blank" href="https://www.instagram.com/cjoshmartin/"><img src="assets/images/icons/instagram.svg" alt="Instagram icon"></a>
  </div>
  <div class="col-xs-2 col-md-1">
    <a target="_blank" href="https://www.linkedin.com/in/joshua-martin-55740652/"><img src="assets/images/icons/linkedin.svg" alt="Linkedin icon"></a>
  </div>

</div>
