<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

      <body>
        <style media="screen">
        footer{
          position: fixed;
          bottom: 0;
          width: 100%;
        }
        </style>

        <div class="row">
          {% include nav.html %}
                </div>
                <div class="row">
                  <div class="col-md-8 col-xs-8">
                    {% if page.title %}
                    <h4 style="padding-left: 26px;"><small>{{page.title}}</small></h4>
                         <hr>
                      {% endif %}
                    {{content}}
                  </div>
                  <div class="col-md-4 col-xs-4">
                    <!-- author shit -->
                      <br>
                    <ul>
                      <li><a href="/recent-post.html">#Recent_Post</a></li>
                      <li><a href="/work.html">#Work</a></li>
                      <li><a href="/programming.html">#Programming</a></li>
                      <li><a href="/personal.html">#Personal</a></li>
                    </ul>
                     {% include advertisements.html %}
                  </div>
                </div>
          {% include footer.html %}

    </body>



</html>
