<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

      <body>
        <style media="screen">
        footer{
          position: fixed;
          bottom: 0;
          width: 100%;
        }
        </style>
        {% include modal.html %}
        <div class="row">
          {% include nav.html %}
                </div>
                <div class="row">
                  <div class="col-md-8 col-xs-8">
                    {% if page.title %}
                    <h4 class="text-capitalize" style="padding-left: 26px;"><small>{{page.title}}</small></h4>
                         <hr>
                      {% endif %}
                    {{content}}
                  </div>
                  <div class="col-md-4 col-xs-4">
                    <!-- author shit -->
                     {% include advertisements.html %}
                  </div>
                </div>
          {% include footer.html %}

    </body>



</html>
