<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} |{% endif %} Josh Martin </title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/photon.css">

    <!-- Electron Javascript -->
    <script src="/assets/js/app.js" charset="utf-8"></script>
  </head>

  <body>
    <!-- Wrap your entire app inside .window -->
    <div class="window">
      <header class="toolbar toolbar-header">
    <h1 class="title">Projects</h1>
  </header>

  <div class="tab-group">
    <div class="tab-item">
      Past employment and Work Done
    </div>
    <div class="tab-item active">
      Class Work
    </div>
    <div class="tab-item">
      Graphic Design and freetime work
    </div>
    <div class="tab-item tab-item-fixed">
      <span class="icon icon-plus"></span>
    </div>
  </div>
      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar">
              <nav class="nav-group">
      <h5 class="nav-group-title">Favorites</h5>
      <a class="nav-group-item" href="/index.html">
        <span class="icon icon-home"></span>
        Home
      </a>
      <a class="nav-group-item active">
        <span class="icon icon-folder"></span>
        Projects
      </a>
      <a class="nav-group-item" href="/assets/Resume.pdf">
        <span class="icon icon-download"></span>
        Resume
      </a>
      </nav>
          </div>
           <div class="pane">
          <table class="table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {{content}}
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
