.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 8s linear;

  transform-origin: top;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 290px;
  padding: 20px;
  padding-bottom: 100px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  margin-right: -1rem;
}

.App-intro {
  font-size: large;
  position: relative;
}
@media only screen and (max-width:600px){
  p#dataupated{
   display: none !important;
  }
}

@keyframes App-logo-spin {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(12deg); }
  100% {transform: rotate(-10deg);}
}

@keyframes fade-in {
  0%{opacity:0}
  100% {opacity: 1}
}
