.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 300px;
}

.App-header {
  background-color: #222;
  height: 350px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% {transform: rotate(-10deg);}
}
