body {
  margin-bottom:50px;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

p.interests{
  padding: 0;
  margin: 0 0 2px 0;
}

span.interests{
  color: green;
  margin-right: 5px;
}


h3.footerText, p.footerText {
    margin: 0;
    padding: 0;
}

.varText{
  margin-right: 5px;
  color: DARKVIOLET;
  font-weight: 600;
}
.varName{
  color: FIREBRICK;
  font-weight: 500;
  margin-right: 5px;
}
.errorText{
  background-color: red;
  color: wheat;
}
.footer {
  position:relative;
    height:100px;
    background-color:#fff;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;

}

#dateupdated{
  margin-bottom: 3px !important;
}

.ui.card {
    min-width: 100%;
}

.projectPage {
    margin: 7rem;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    gap: 1rem 6rem;
}

@media only screen and (max-width:800px){
  p#dataupated{
   display: none !important;
  }

    .projectPage {
        margin: 3rem 1rem;
    }
}

div.indexPage{
  min-height: 40.5rem;
}

div.jsonText{
  margin-top: 15px;
  margin-bottom: 5px;
}


@media screen and (max-width: 402px) {

  figure img {
    width: 35ch;
}  

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    align-content: baseline;

  }

  article p {
    padding: 1rem;
    text-align: center;
    width: 100%;

  }
}


/*div.home-page {*/
  /*display: grid;*/
  /*grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);*/
/*}*/
/*div.home-page > p {*/
  /*grid-column: 2;*/
  /*padding: 1rem;*/
/*}*/

/*div.home-page > img {*/
  /*grid-column: 1 / 4;*/
  /*width: 100%;*/
  /*max-width: 50ch;*/
  /*justify-self: center;*/
/*}*/
